<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs'); %>
  </head>
  <body onload="mainLoad();">
    <div id="app">
      <v-app>
        <v-main>
          <header>
            <nav><%- include('../partials/nav.ejs'); %></nav>
          </header>

          <div>
            <v-card
              class="mx-auto rounded-xl mt-10"
              width="70%"
              prepend-icon="mdi-login"
            >
              <template v-slot:title> Forget password </template>
              <v-form
                ref="form"
                v-model="valid"
                lazy-validation
                action="/process/forgetpassword"
                method="POST"
              >
                <v-text-field
                  class="ma-6"
                  v-model="email"
                  :rules="emailRules"
                  label="E-mail"
                  required
                  prepend-inner-icon="mdi-email"
                  variant="outlined"
                  clearable
                  clear-icon="mdi-delete"
                  id="userEmail"
                  name="forgetPassEmailInput"
                ></v-text-field>

                <div class="d-flex justify-center mb-6">
                  <v-btn
                    color="black"
                    class="mr-4"
                    @click="validate"
                    type="submit"
                  >
                    send email
                    <v-icon end icon="mdi-checkbox-marked-circle"></v-icon>
                  </v-btn>
                </div>
              </v-form>
            </v-card>
          </div>
        </v-main>
      </v-app>
    </div>

    <%- include('../partials/footer.ejs'); %>
    <script>
      var x;
      const vuetify = Vuetify.createVuetify();
      const app = Vue.createApp({
        data: () => ({
          valid: true,
          password: "",
          passwordRules: [
            (v) => !!v || "Password is required",
            (v) =>
              (v && v.length <= 64) ||
              "Password must be less than 64 characters",
          ],
          email: "",
          emailRules: [
            (v) => !!v || "E-mail is required",
            (v) => /.+@.+\..+/.test(v) || "E-mail must be valid",
          ],
        }),

        methods: {},
      });

      app.use(vuetify).mount("#app");
    </script>
  </body>
</html>
