<script
  type="text/javascript"
  src="https://www.gstatic.com/charts/loader.js"
></script>

<v-container v-if="loading == false">
  <v-row>
    <v-col cols="12" md="6">
      <v-card
        class="mx-auto rounded-xl"
        width="100%"
        height="250px"
        variant="outlined"
      >
        <template v-slot:title> Login Freqency </template>

        <v-card-text class="d-flex justify-center">
          <div id="myChart"></div>
        </v-card-text>
      </v-card>
    </v-col>
    <v-col cols="12" md="6">
      <v-card
        class="mx-auto rounded-xl"
        width="100%"
        height="250px"
        variant="outlined"
      >
        <template v-slot:title> Today Reports </template>

        <v-card-text class="d-flex justify-center">
          <div class="d-flex justify-center">
            <div class="chart-container" style="width: 160px">
              <canvas id="TodayChart"></canvas>
            </div>
          </div>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</v-container>
<script>
  function loadChart(d) {
    google.charts.load("current", { packages: ["corechart"] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      fetch("/process/get/chart", { method: "POST" })
        .then((res) => res.json())
        .then((datares) => {
          var data = google.visualization.arrayToDataTable(datares.chart);
          var options = {
            // title: "freqency user login",
          };

          var PieChart = new google.visualization.PieChart(
            document.getElementById("myChart")
          );
          PieChart.draw(data, options);
        })
        .catch((err) => {
          console.error("Error: ", err);
        });
    }
    console.log(d);
    var barColors = ["rgb(162, 255, 86)", "rgb(255, 99, 132)"];

    new Chart("TodayChart", {
      type: "doughnut",
      data: {
        labels: d[0],
        datasets: [
          {
            backgroundColor: barColors,
            data: d[1],
          },
        ],
      },
      options: {
        title: {
          display: true,
          text: "World Wide Wine Production 2018",
        },
      },
    });
  }
</script>
