* {
  box-sizing: border-box;
}
  
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #282a35;
}
  /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
nav {
  width: 100%;
  height: 100px;
  background-color: rgb(0, 207, 100);
}
.containNAV {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.containNAV a {
  text-decoration: none;
  text-align: center;
  width: 24%;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 15px;
  margin-bottom: auto; 
  margin-left: 0.5%;
  border-radius: 25px;
  display: inline-block;
  background-color: rgb(255, 114, 7);
  color: white;
}
.containNAV a:hover { 
  background-color: rgb(255, 219, 87);
  cursor: pointer;
} 
.containIMG canvas {
  background-color: white;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 300px;
  display: block;
  border: 1px solid black;
  border-radius: 25px;
}
.profileDetails {
  color: white;
  margin-top: 50px;
  width:  75%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: left;
}
#signupForm {
  margin-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  border: 2px solid white;
  border-radius: 50px;
  padding: 25px;
}
#signinForm {
  margin-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  border: 2px solid white;
  border-radius: 50px;
  padding: 25px;
}
#signupForm label {
  margin-top: 10px;
  display:  block;
  color: white;
}
#signinForm label {
  margin-top: 10px;
  display:  block;
  color: white;
}
#signupForm input {
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  margin-top: 10px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
  width: 80%;
  display: block;
}
#signinForm input {
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  margin-top: 10px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
  width: 80%;
  display: block;
}
  #SubmitAuth {
    background-color: rgb(157, 229, 157);
    border: 2px solid rgb(142, 255, 142);
  } 
  #SubmitLogin {
    border: 2px solid rgb(142, 255, 142);
    background-color: rgb(157, 229, 157);
  }
  #SubmitAuth:hover {
    cursor: pointer;
    background-color: rgb(63, 85, 63);
  }
  #SubmitLogin:hover {
    cursor: pointer;
    background-color: rgb(63, 85, 63);
  }
  #authFormTitle {
    text-align: center;
    font-size: 50px;
  }
  #loginFormTitle {
    text-align: center;
    font-size: 50px;
  }